.journalContent{
  animation: 0.5s ease-out 0s 1 fadeInOpacity;
}

@keyframes fadeInOpacity {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.DynamicInputComponent {
  padding: 16px 0;
  color: #646464;
}

input {
  text-align: center;
  width: 80%;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--third-text-color);
  padding: 2px 5px;
}

input:focus {
  outline: none;
}

.inputComponent {
  padding-top: 6px;
}
.listNumber {
  color: var(--third-text-color);
  font-size: 12px;
}
