:root {
  --main-text-color: black;
  --second-text-color: #3a3a3a;
  --third-text-color: #b4b4b4;
  --fourth-text-color: #f2f2f2;

  --marging-top-content: 80px;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'apercu';
  src: local('apercu'), url(font/apercu-webfont.woff) format('truetype');
}

body {
  font-family: apercu;
}

.App {
  text-align: center;
  background-color: white;
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

h2 {
  font-size: 14px;
  font-weight: 400;
}
